grant {
  permission java.security.AllPermission;
  permission java.net.SocketPermission "*:*", "accept,listen,connect,resolve";
  permission java.lang.RuntimePermission "shutdownHooks";
};
