grant {
  permission java.security.AllPermission;
  permission java.net.SocketPermission "*:8090", "connect,resolve";
  permission java.lang.RuntimePermission "shutdownHooks";
};
